$prefix: ".inc_";
$postfix: "_block";

$pdpModalBlock: $prefix+"pdp"+$postfix;
$pdpModalTitleBlock: $prefix+"pdp_title"+$postfix;
$pdpModalTitleTextBlock: $prefix+"pdp_title_text"+$postfix;
$pdpModalTitleText: $prefix+"pdp_title_text";
$pdpModalTitleImgBlock: $prefix+"pdp_title_img"+$postfix;
$pdpModalTitleImg: $prefix+"pdp_title_img";

$pdpModalBundleBlock: $prefix+"pdp_bundle"+$postfix;
$pdpModalMainProductBlock: $prefix+"pdp_product-main"+$postfix;
$pdpModalAddIconBlock: $prefix+"pdp_icon-add"+$postfix;


$pdpModalBundleProductBlock: $prefix+"pdp_bundle_product"+$postfix;
$pdpModalBundleCartBlock: $prefix+"pdp_bundle_cart"+$postfix;

$pdpAddIconImgBlock: $prefix+"pdp_icon-add_img"+$postfix;
$pdpAddIconImg: $prefix+"pdp_icon-add_img";
$pdpBundleProductLeftBtnBlock: $prefix+"pdp_bundle_product_left-btn"+$postfix;
$pdpBundleProductLeftBtnImgBlock: $prefix+"pdp_bundle_product_left-btn_img"+$postfix;
$pdpBundleProductLeftBtnImg: $prefix+"pdp_bundle_product_left-btn_img";
$pdpBundleProductRightBtnBlock: $prefix+"pdp_bundle_product_right-btn"+$postfix;
$pdpBundleProductRightBtnImgBlock: $prefix+"pdp_bundle_product_right-btn_img"+$postfix;
$pdpBundleProductRightBtnImg: $prefix+"pdp_bundle_product_right-btn_img";

$pdpBundleProductListBlock: $prefix+"pdp_bundle_product_list"+$postfix;
$pdpBundleProductListMainBlock: $prefix+"pdp_bundle_product_list_main"+$postfix;
$pdpBundleProductListLeftBlock: $prefix+"pdp_bundle_product_list_left"+$postfix;
$pdpBundleProductListLeftBtnBlock: $prefix+"pdp_bundle_product_list_left_btn"+$postfix;
$pdpBundleProductListLeftBtnImgBlock: $prefix+"pdp_bundle_product_list_left_btn_img"+$postfix;
$pdpBundleProductListLeftBtnImg: $prefix+"pdp_bundle_product_list_left_btn_img";
$pdpBundleProductListRightBlock: $prefix+"pdp_bundle_product_list_right"+$postfix;
$pdpBundleProductListRightBtnBlock: $prefix+"pdp_bundle_product_list_right_btn"+$postfix;
$pdpBundleProductListRightBtnImgBlock: $prefix+"pdp_bundle_product_list_right_btn_img"+$postfix;
$pdpBundleProductListRightBtnImg: $prefix+"pdp_bundle_product_list_right_btn_img";
$pdpBundleProductListItemsBlock: $prefix+"pdp_bundle_product_list_items"+$postfix;
$pdpBundleProductListItemBlock: $prefix+"pdp_bundle_product_list_item"+$postfix;
$pdpBundleProductListItemImgBlock: $prefix+"pdp_bundle_product_list_item_img"+$postfix;
$pdpBundleProductListItemImg: $prefix+"pdp_bundle_product_list_item_img";
$pdpBundleProductListItemTitleBlock: $prefix+"pdp_bundle_product_list_item_title"+$postfix;
$pdpBundleProductListItemTitleTextBlock: $prefix+"pdp_bundle_product_list_item_title_text"+$postfix;
$pdpBundleProductListItemTitleText: $prefix+"pdp_bundle_product_list_item_title_text";
$pdpBundleProductListItemPriceBlock: $prefix+"pdp_bundle_product_list_item_price"+$postfix;
$pdpBundleProductListItemPriceActiveBlock: $prefix+"pdp_bundle_product_list_item_price_active"+$postfix;
$pdpBundleProductListItemPriceActiveTextBlock: $prefix+"pdp_bundle_product_list_item_price_active_text"+$postfix;
$pdpBundleProductListItemPriceActiveText: $prefix+"pdp_bundle_product_list_item_price_active_text";
$pdpBundleProductListItemAddedBlock: $prefix+"pdp_bundle_product_list_item_added"+$postfix;
$pdpBundleProductListItemAddedBtnBlock: $prefix+"pdp_bundle_product_list_item_added_btn"+$postfix;
$pdpBundleProductListItemAddedBtnImgBlock: $prefix+"pdp_bundle_product_list_item_added_btn_img"+$postfix;
$pdpBundleProductListItemAddedBtnImg: $prefix+"pdp_bundle_product_list_item_added_btn_img";
$pdpBundleProductListItemAddedBtnTextBlock: $prefix+"pdp_bundle_product_list_item_added_btn_text"+$postfix;
$pdpBundleProductListItemAddedBtnText: $prefix+"pdp_bundle_product_list_item_added_btn_text";

$pdpBundleCartTitleBlock: $prefix+"pdp_bundle_cart_title"+$postfix;
$pdpBundleCartTitleTextBlock: $prefix+"pdp_bundle_cart_title_text"+$postfix;
$pdpBundleCartTitleText: $prefix+"pdp_bundle_cart_title_text";
$pdpBundleCartTitleImgBlock: $prefix+"pdp_bundle_cart_title_img"+$postfix;
$pdpBundleCartTitleImg: $prefix+"pdp_bundle_cart_title_img";
$pdpBundleCartPriceBlock: $prefix+"pdp_bundle-cart_price"+$postfix;
$pdpBundleCartPriceMainBlock: $prefix+"pdp_bundle-cart_price_main";
$pdpBundleCartPriceMainTitleBlock: $prefix+"pdp_bundle-cart_price_main_title"+$postfix;
$pdpBundleCartPriceMainTitleTextBlock: $prefix+"pdp_bundle-cart_price_main_title_text"+$postfix;
$pdpBundleCartPriceMainTitleText: $prefix+"pdp_bundle-cart_price_main_title_text";
$pdpBundleCartPriceMainFigureBlock: $prefix+"pdp_bundle-cart_price_main_figure"+$postfix;
$pdpBundleCartPriceMainFigureTextBlock: $prefix+"pdp_bundle-cart_price_main_figure_text"+$postfix;
$pdpBundleCartPriceMainFigureText: $prefix+"pdp_bundle-cart_price_main_figure_text";
$pdpBundleCartPriceAddonBlock: $prefix+"pdp_bundle-cart_price_addon"+$postfix;
$pdpBundleCartPriceAddonTitleBlock: $prefix+"pdp_bundle-cart_price_addon_title"+$postfix;
$pdpBundleCartPriceAddonTitleTextBlock: $prefix+"pdp_bundle-cart_price_addon_title_text"+$postfix;
$pdpBundleCartPriceAddonTitleText: $prefix+"pdp_bundle-cart_price_addon_title_text";
$pdpBundleCartPriceAddonFigureBlock: $prefix+"pdp_bundle-cart_price_addon_figure"+$postfix;
$pdpBundleCartPriceAddonFigureTextBlock: $prefix+"pdp_bundle-cart_price_addon_figure_text"+$postfix;
$pdpBundleCartPriceAddonFigureText: $prefix+"pdp_bundle-cart_price_addon_figure_text";
$pdpBundleCartAddedBlock: $prefix+"pdp_bundle_cart_added"+$postfix;
$pdpBundleCartAddedProductBlock: $prefix+"pdp_bundle_cart_added_product"+$postfix;
$pdpBundleCartAddedProductImgBlock: $prefix+"pdp_bundle_cart_added_product_img"+$postfix;
$pdpBundleCartAddedProductImg: $prefix+"pdp_bundle_cart_added_product_img";
$pdpBundleCartAddedProductTitleBlock: $prefix+"pdp_bundle_cart_added_product_title"+$postfix;
$pdpBundleCartAddedProductTitleTextBlock: $prefix+"pdp_bundle_cart_added_product_title_text"+$postfix;
$pdpBundleCartAddedProductTitleText: $prefix+"pdp_bundle_cart_added_product_title_text";
$pdpBundleCartAddedProductPriceBlock: $prefix+"pdp_bundle_cart_added_product_price"+$postfix;
$pdpBundleCartAddedProductPriceTextBlock: $prefix+"pdp_bundle_cart_added_product_price_text"+$postfix;
$pdpBundleCartAddedProductPriceText: $prefix+"pdp_bundle_cart_added_product_price_text";
$pdpBundleCartAddedProductQtyBlock: $prefix+"pdp_bundle_cart_added_product_qty"+$postfix;
$pdpBundleCartAddedProductQtyTextBlock: $prefix+"pdp_bundle_cart_added_product_qty_text"+$postfix;
$pdpBundleCartAddedProductQtyText: $prefix+"pdp_bundle_cart_addeed_product_qty_text";
$pdpBundleCartAddedProductEditBlock: $prefix+"pdp_bundle_cart_added_product_edit"+$postfix;
$pdpBundleCartAddedProductEditTextBlock: $prefix+"pdp_bundle_cart_added_product_edit_text"+$postfix;
$pdpBundleCartAddedProductEditText: $prefix+"pdp_bundle_cart_added_product_edit_text";
$pdpBundleCartAddedProductEditImgBlock: $prefix+"pdp_bundle_cart_added_product_edit_img"+$postfix;
$pdpBundleCartAddedProductEditImg: $prefix+"pdp_bundle_cart_added_product_edit_img";
$pdpBundleCartSummaryBlock: $prefix+"pdp_bundle_cart_summary"+$postfix;
$pdpBundleCartSummaryTitleBlock: $prefix+"pdp_bundle_cart_summary_title"+$postfix;
$pdpBundleCartSummaryTitleTextBlock: $prefix+"pdp_bundle_cart_summary_title_text"+$postfix;
$pdpBundleCartSummaryTitleText: $prefix+"pdp_bundle_cart_summary_title_text";
$pdpBundleCartSummaryPriceBlock: $prefix+"pdp_bundle_cart_summary_price"+$postfix;
$pdpBundleCartSummaryPriceRegularBlock: $prefix+"pdp_bundle_cart_summary_price_regular"+$postfix;
$pdpBundleCartSummaryPriceRegularTextBlock: $prefix+"pdp_bundle_cart_summary_price_regular_text"+$postfix;
$pdpBundleCartSummaryPriceRegularText: $prefix+"pdp_bundle_cart_summary_price_regular_text";
$pdpBundleCartSummaryPriceActiveBlock: $prefix+"pdp_bundle_cart_summary_price_active"+$postfix;
$pdpBundleCartSummaryPriceActiveTextBlock: $prefix+"pdp_bundle_cart_summary_price_active_text"+$postfix;
$pdpBundleCartSummaryPriceActiveText: $prefix+"pdp_bundle_cart_summary_price_active_text";
$pdpBundleCartSummaryAddBlock: $prefix+"pdp_bundle_cart_summary_add"+$postfix;
$pdpBundleCartSummaryAddBtnBlock: $prefix+"pdp_bundle_cart_summary_add_btn"+$postfix;
$pdpBundleCartSummaryAddBtnTextBlock: $prefix+"pdp_bundle_cart_summary_add_btn_text"+$postfix;
$pdpBundleCartSummaryAddBtnText: $prefix+"pdp_bundle_cart_summary_add_btn_text";
$pdpBundleCartSummaryAddBtnImgBlock: $prefix+"pdp_bundle_cart_summary_add_btn_img"+$postfix;
$pdpBundleCartSummaryAddBtnImg: $prefix+"pdp_bundle_cart_summary_add_btn_img";

$productModuleBlock: $prefix+"product_module"+$postfix;
$productModalBlock: $prefix+"product_modal"+$postfix;
$productShowcaseBlock: $prefix+"product_showcase"+$postfix;
$productBlock: $prefix+"product"+$postfix;
$productHeaderBlock: $prefix+"product_header"+$postfix;
$productHeaderTitleBlock: $prefix+"product_header_title"+$postfix;
$productHeaderTitleTextBlock: $prefix+"product_header_title_text"+$postfix;
$productHeaderTitleText: $prefix+"product_header_title_text";
$productHeaderImgBlock: $prefix+"product_header_img"+$postfix;
$productHeaderImg: $prefix+"product_header_img";
$productImgBlock: $prefix+"product_img"+$postfix;
$productImgMainBlock: $prefix+"product_img_main"+$postfix;
$productImgMainImgBlock: $prefix+"product_img_main_img"+$postfix;
$productImgMainImg: $prefix+"product_img_main_img";
$productImgMainZoomBlock: $prefix+"product_img_main_zoom"+$postfix;
$productImgMainZoomBtnBlock: $prefix+"product_img_main_zoom_btn"+$postfix;
$productImgMainZoomBtnImgBlock: $prefix+"product_img_main_zoom_btn_img"+$postfix;
$productImgMainZoomBtnImg: $prefix+"product_img_main_zoom_btn_img";
$productImgMainZoomBtnTextBlock: $prefix+"product_img_main_zoom_btn_text"+$postfix;
$productImgMainZoomBtnText: $prefix+"product_img_main_zoom_btn_text";
$productImgGalleryBlock: $prefix+"product_img_gallery"+$postfix;
$productImgGalleryHeaderBlock: $prefix+"producy_img_gallery_header"+$postfix;
$productImgGalleryHeaderTitleBlock: $prefix+"product_img_gallery_header_title"+$postfix;
$productImgGalleryHeaderTitleImgBlock: $prefix+"product_img_gallery_header_title_img"+$postfix;
$productImgGalleryHeaderTitleImg: $prefix+"product_img_gallery_header_title_img";
$productImgGalleryHeaderTitleTextBlock: $prefix+"product_img_gallery_header_title_text"+$postfix;
$productImgGalleryHeaderTitleText: $prefix+"product_img_gallery_header_title_text";
$productImgGalleryHeaderToggleBlock: $prefix+"product_img_gallery_header_toggle"+$postfix;
$productImgGalleryHeaderToggleImgBlock: $prefix+"product_img_gallery_header_toggle_img"+$postfix;
$productImgGalleryHeaderToggleImg: $prefix+"product_img_gallery_header_toggle_img";
$productImgGalleryHeaderToggleTextBlock: $prefix+"product_img_gallery_header_toggle_text"+$postfix;
$productImgGalleryHeaderToggleText: $prefix+"product_img_gallery_header_toggle_text";
$productImgGalleryLeftBlock: $prefix+"product_img_gallery_left"+$postfix;
$productImgGalleryLeftBtnBlock: $prefix+"product_img_gallery_left_btn"+$postfix;
$productImgGalleryLeftBtnImgBlock: $prefix+"product_img_gallery_left_btn_img"+$postfix;
$productImgGalleryLeftBtnImg: $prefix+"product_img_gallery_left_btn_img";
$productImgGalleryLeftBtnTextBlock: $prefix+"product_img_gallery_left_btn_text"+$postfix;
$productImgGalleryLeftBtnText: $prefix+"product_img_gallery_left_btn_text";
$productImgGalleryListBlock: $prefix+"product_img_gallery_list"+$postfix;
$productImgGalleryListItemBlock: $prefix+"product_img_gallery_list_item"+$postfix;
$productImgGalleryListItemImgBlock: $prefix+"product_img_gallery_list_item_img"+$postfix;
$productImgGalleryListItemImg: $prefix+"product_img_gallery_list_item_img";
$productImgGalleryListItemTextBlock: $prefix+"product_img_gallery_list_item_text"+$postfix;
$productImgGalleryListItemText: $prefix+"product_img_gallery_list_item_text";
$productImgGalleryRightBlock: $prefix+"product_img_gallery_right"+$postfix;
$productImgGalleryRightBtnBlock: $prefix+"product_img_gallery_right_btn"+$postfix;
$productImgGalleryRightBtnImgBlock: $prefix+"product_img_gallery_right_btn_img"+$postfix;
$productImgGalleryRightBtnImg: $prefix+"product_img_gallery_right_btn_img";
$productImgGalleryRightBtnTextBlock: $prefix+"product_img_gallery_right_btn_text"+$postfix;
$productImgGalleryRightBtnText: $prefix+"product_img_gallery_right_btn_text";
$productDescBlock: $prefix+"product_desc"+$postfix;
$productTitleBlock: $prefix+"product_desc_title"+$postfix;
$productTitleTextBlock: $prefix+"product_desc_title_text"+$postfix;
$productTitleText: $prefix+"product_desc_title_text";
$productInfoBlock: $prefix+"product_desc_info"+$postfix;
$productInfoImgBlock: $prefix+"product_desc_info_img"+$postfix;
$productInfoImg: $prefix+"product_desc_info_img"; 
$productInfoTextBlock: $prefix+"product_desc_info_text"+$postfix;
$productInfoText: $prefix+"product_desc_info_text";
$productPriceBlock: $prefix+"product_desc_price"+$postfix;
$productPriceActiveBlock: $prefix+"product_desc_price_active"+$postfix;
$productPriceActiveTextBlock: $prefix+"product_desc_price_active_text"+$postfix;
$productPriceActiveText: $prefix+"product_desc_price_active_text";
$productPriceActiveTextMsg: $prefix+"product_desc_price_active_text_msg";
$productPriceRegularBlock: $prefix+"product_desc_price_regular"+$postfix;
$productPriceRegularTextBlock: $prefix+"product_desc_price_regular_text"+$postfix;
$productPriceRegularText: $prefix+"product_desc_price_regular_text";

$productAttBlock: $prefix+"product_desc_att"+$postfix;
$productAttColorBlock: $prefix+"product_desc_att_color"+$postfix;
$productAttColorTitleBlock: $prefix+"product_desc_att_color_title"+$postfix;
$productAttColorTitleTextBlock: $prefix+"product_desc_att_color_title_text"+$postfix;
$productAttColorTitleText: $prefix+"product_desc_att_color_title_text";
$productAttColorTitleTextSelected: $prefix+"product_desc_att_color_title_text_selected";
$productAttColorListBlock: $prefix+"product_desc_att_color_list"+$postfix;
$productAttColorListItemBlock: $prefix+"product_desc_att_color_list_item"+$postfix;
$productAttColorListItemImgBlock: $prefix+"product_desc_att_color_list_item_img"+$postfix;
$productAttColorListItemImg: $prefix+"product_desc_att_color_list_item_img";
$productAttColorListItemTextBlock: $prefix+"product_desc_att_color_list_item_text"+$postfix;
$productAttColorListItemText: $prefix+"product_desc_att_color_list_item_text";
$productAttSizeBlock: $prefix+"product_desc_att_size"+$postfix;
$productAttSizeTitleBlock: $prefix+"product_desc_att_size_title"+$postfix;
$productAttSizeTitleTextBlock: $prefix+"product_desc_att_size_title_text"+$postfix;
$productAttSizeTitleText: $prefix+"product_desc_att_size_title_text";
$productAttSizeTitleTextSelected: $prefix+"product_desc_att_size_title_text_selected";
$productAttSizeListBlock: $prefix+"product_desc_att_size_list"+$postfix;
$productAttSizeListItemBlock: $prefix+"product_desc_att_size_list_item"+$postfix;
$productAttSizeListItemImgBlock: $prefix+"product_desc_att_size_list_item_img"+$postfix;
$productAttSizeListItemImg: $prefix+"product_desc_att_size_list_item_img";
$productAttSizeListItemTextBlock: $prefix+"product_desc_att_size_list_item_text"+$postfix;
$productAttSizeListItemText: $prefix+"product_desc_att_size_list_item_text";

$productPackOfBlock: $prefix+"product_desc_pack_of"+$postfix;
$productPackOfLeftBlock: $prefix+"product_desc_pack_of_left"+$postfix;
$productPackOfListBlock: $prefix+"product_desc_pack_of_list"+$postfix;
$productPackOfRightBlock: $prefix+"product_desc_pack_of_right"+$postfix;
$productPackOfLeftBtnBlock: $prefix+"product_desc_pack_of_left_btn"+$postfix;
$productPackOfLeftBtnImgBlock: $prefix+"product_desc_pack_of_left_btn_img"+$postfix;
$productPackOfLeftBtnImg: $prefix+"product_desc_pack_of_left_btn_img";
$productPackOfRightBtnBlock: $prefix+"product_desc_pack_of_right_btn"+$postfix;
$productPackOfRightBtnImgBlock: $prefix+"product_desc_pack_of_right_btn_img"+$postfix;
$productPackOfRightBtnImg: $prefix+"product_desc_pack_of_right_btn_img";
$productPackOfItemBlock: $prefix+"product_desc_pack_of_item"+$postfix;
$productPackOfItemTitleBlock: $prefix+"product_desc_pack_of_item_title"+$postfix;
$productPackOfItemTitleTextBlock: $prefix+"product_desc_pack_of_item_title_text"+$postfix;
$productPackOfItemTitleText: $prefix+"product_desc_pack_of_item_title_text";
$productPackOfItemImgBlock: $prefix+"product_desc_pack_of_item_img"+$postfix;
$productPackOfItemImg: $prefix+"product_desc_pack_of_item_img";
$productPackOfItemQuantityBlock: $prefix+"product_desc_pack_of_item_quantity"+$postfix;
$productPackOfItemQuantityTextBlock: $prefix+"product_desc_pack_of_item_quantity_text"+$postfix;
$productPackOfItemQuantityText: $prefix+"product_desc_pack_of_item_quantity_text";
$productPackOfItemPriceBlock: $prefix+"product_desc_pack_of_item_price"+$postfix;
$productPackOfItemPriceRegularBlock: $prefix+"product_desc_pack_of_item_price_regular"+$postfix;
$productPackOfItemPriceRegularTextBlock: $prefix+"product_desc_pack_of_item_price_regular_text"+$postfix;
$productPackOfItemPriceRegularText: $prefix+"product_desc_pack_of_item_price_regular_text";
$productPackOfItemPriceActiveBlock: $prefix+"product_desc_pack_of_item_price_active"+$postfix;
$productPackOfItemPriceActiveTextBlock: $prefix+"product_desc_pack_of_item_price_active_text"+$postfix;
$productPackOfItemPriceActiveText: $prefix+"product_desc_pack_of_item_price_active_text";


$productQtyBlock: $prefix+"product_desc_qty"+$postfix;
$productQtyDownBlock: $prefix+"product_desc_qty_down"+$postfix;
$productQtyDownBtnBlock: $prefix+"product_desc_qty_down_btn"+$postfix;
$productQtyDownBtn: $prefix+"product_desc_qty_down_btn";
$productQtyInputBlock: $prefix+"product_desc_qty_input"+$postfix;
$productQtyInputTextBlock: $prefix+"product_desc_qty_input_text"+$postfix;
$productQtyInputText: $prefix+"product_desc_qty_input_text";
$productQtyUpBlock: $prefix+"product_desc_qty_up"+$postfix;
$productQtyUpBtnBlock: $prefix+"product_desc_qty_up_btn"+$postfix;
$productQtyUpBtn: $prefix+"product_desc_qty_up_btn";

$productAddBlock: $prefix+"product_desc_add"+$postfix;
$productAddTextBlock: $prefix+"product_desc_add_text"+$postfix;
$productAddText: $prefix+"product_desc_add_text";
$productAddImgBlock: $prefix+"product_desc_add_img"+$postfix;
$productAddImg: $prefix+"product_desc_add_img";

$sidebarModalBlock: $prefix+"sidebar_modal"+$postfix;
$sidebarHeaderBlock: $prefix+"sidebar_header"+$postfix;
$sidebarCartAddedBlock: $prefix+"sidebar_cart_added"+$postfix;
$sidebarRecommendedBlock: $prefix+"sidebar_recommended"+$postfix;
$sidebarCheckoutBlock: $prefix+"sidebar_checkout"+$postfix;
$sidebarHeaderContinueBlock: $prefix+"header_continue"+$postfix;
$sidebarHeaderContinueImgBlock: $prefix+"header_continue_img"+$postfix;
$sidebarHeaderContinueImg: $prefix+"header_continue_img";
$sidebarHeaderContinueTextBlock: $prefix+"header_continue_text"+$postfix;
$sidebarHeaderContinueText: $prefix+"header_continue_text";
$sidebarHeaderTitleBlock: $prefix+"header_title"+$postfix;
$sidebarHeaderTitleTextBlock: $prefix+"header_title_text"+$postfix;
$sidebarHeaderTitleText: $prefix+"header_title_text";
$sidebarHeaderItemBlock: $prefix+"header_item"+$postfix;
$sidebarHeaderItemCountBlock: $prefix+"header_item_count"+$postfix;
$sidebarHeaderItemCountTitleBlock: $prefix+"header_item_count_title"+$postfix;
$sidebarHeaderItemCountTitleTextBlock: $prefix+"header_item_count_title_text"+$postfix;
$sidebarHeaderItemCountTitleText: $prefix+"header_item_count_title_text";
$sidebarHeaderItemCountFigureBlock: $prefix+"header_item_count_figure"+$postfix;
$sidebarHeaderItemCountFigureTextBlock: $prefix+"header_item_count_figure_text"+$postfix;
$sidebarHeaderItemCountFigureText: $prefix+"header_item_count_figure_text";
$sidebarCartAddedLeftBlock: $prefix+"cart_added_left"+$postfix;
$sidebarCartAddedLeftBtnBlock: $prefix+"cart_added_left_btn"+$postfix;
$sidebarCartAddedLeftBtnImgBlock: $prefix+"cart_added_left_btn_img"+$postfix;
$sidebarCartAddedLeftBtnImg: $prefix+"cart_added_left_btn_img";
$sidebarCartAddedRightBlock: $prefix+"cart_added_right"+$postfix;
$sidebarCartAddedRightBtnBlock: $prefix+"cart_added_right_btn"+$postfix;
$sidebarCartAddedRightBtnImgBlock: $prefix+"cart_added_right_btn_img"+$postfix;
$sidebarCartAddedRightBtnImg: $prefix+"cart_added_right_btn_img";
$sidebarCartAddedListBlock: $prefix+"cart_added_list"+$postfix;
$sidebarCartAddedProductBlock: $prefix+"cart_added_product"+$postfix;
$sidebarCartAddedProductImgBlock: $prefix+"cart_added_product_img"+$postfix;
$sidebarCartAddedProductImg: $prefix+"cart_added_product_img";
$sidebarCartAddedProductDescBlock: $prefix+"cart_added_product_desc"+$postfix;
$sidebarCartAddedProductDescTitleBlock: $prefix+"cart_added_product_desc_title"+$postfix;
$sidebarCartAddedProductDescTitleTextBlock: $prefix+"cart_added_product_desc_title_text"+$postfix;
$sidebarCartAddedProductDescTitleText: $prefix+"cart_added_product_desc_title_text";
$sidebarCartAddedProductDescPriceBlock: $prefix+"cart_added_product_desc_price"+$postfix;
$sidebarCartAddedProductDescPriceRegularBlock: $prefix+"cart_added_product_desc_price_regular"+$postfix;
$sidebarCartAddedProductDescPriceRegularTextBlock: $prefix+"cart_added_product_desc_price_regular_text"+$postfix;
$sidebarCartAddedProductDescPriceRegularText: $prefix+"cart_added_product_desc_price_regular_text";
$sidebarCartAddedProductDescPriceActiveBlock: $prefix+"cart_added_product_desc_price_active"+$postfix;
$sidebarCartAddedProductDescPriceActiveTextBlock: $prefix+"cart_added_product_desc_price_active_text"+$postfix;
$sidebarCartAddedProductDescPriceActiveText: $prefix+"cart_added_product_desc_price_active_text";
$sidebarCartAddedProductDescPriceActiveTextMsg: $prefix+"cart_added_product_desc_price_active_text_msg";

$sidebarRecommendedTitleBlock: $prefix+"recommended_title"+$postfix;
$sidebarRecommendedTitleTextBlock: $prefix+"recommended_title_text"+$postfix;
$sidebarRecommendedTitleText: $prefix+"recommended_title_text";
$sidebarRecommendedTitleImgBlock: $prefix+"recommended_title_img"+$postfix;
$sidebarRecommendedTitleImg: $prefix+"recommended_title_img";
$sidebarRecommendedTabsBlock: $prefix+"recommended_tabs"+$postfix;
$sidebarRecommendedTabsTitleBlock: $prefix+"recommended_tabs_title"+$postfix;
$sidebarRecommendedTabsTitleTextBlock: $prefix+"recommended_tabs_title_text"+$postfix;
$sidebarRecommendedTabsTitleText: $prefix+"recommended_tabs_title_text";
$sidebarRecommendedTabsLeftBlock: $prefix+"recommended_tabs_left"+$postfix;
$sidebarRecommendedTabsListBlock: $prefix+"recommended_tabs_list"+$postfix;
$sidebarRecommendedTabsRightBlock: $prefix+"recommended_tabs_right"+$postfix;
$sidebarRecommendedTabsLeftBtnBlock: $prefix+"recommended_tabs_left_btn"+$postfix;
$sidebarRecommendedTabsLeftBtnImgBlock: $prefix+"recommended_tabs_left_btn_img"+$postfix;
$sidebarRecommendedTabsLeftBtnImg: $prefix+"recommended_tabs_left_btn_img";
$sidebarRecommendedTabsRightBtnBlock: $prefix+"recommended_tabs_right_btn"+$postfix;
$sidebarRecommendedTabsRightBtnImgBlock: $prefix+"recommended_tabs_right_btn_img"+$postfix;
$sidebarRecommendedTabsRightBtnImg: $prefix+"recommended_tabs_right_btn_img";
$sidebarRecommendedTabsListItemBlock: $prefix+"recommended_tabs_list_item"+$postfix;
$sidebarRecommendedTabsListItemTextBlock: $prefix+"recommended_tabs_list_item_text"+$postfix;
$sidebarRecommendedTabsListItemText: $prefix+"recommended_tabs_list_item_text";
$sidebarRecommendedProductsBlock: $prefix+"recommended_products"+$postfix;
$sidebarRecommendedProductsLeftBlock: $prefix+"recommended_products_left"+$postfix;
$sidebarRecommendedProductsListBlock: $prefix+"recommended_products_list"+$postfix;
$sidebarRecommendedProductsRightBlock: $prefix+"recommended_products_right"+$postfix;
$sidebarRecommendedProductsLeftBtnBlock: $prefix+"recommended_products_left_btn"+$postfix;
$sidebarRecommendedProductsLeftBtnImgBlock: $prefix+"recommended_products_left_btn_img"+$postfix;
$sidebarRecommendedProductsLeftBtnImg: $prefix+"recommended_products_left_btn_img";
$sidebarRecommendedProductsRightBtnBlock: $prefix+"recommeded_products_right_btn"+$postfix;
$sidebarRecommendedProductsRightBtnImgBlock: $prefix+"recommended_products_right_btn_img"+$postfix;
$sidebarRecommendedProductsRightBtnImg: $prefix+"recommended_products_right_btn_img";
$sidebarCheckoutContinueBlock: $prefix+"checkout_continue"+$postfix;
$sidebarCheckoutContinueBtnBlock: $prefix+"checkout_continue_btn"+$postfix;
$sidebarCheckoutContinueBtnTextBlock: $prefix+"checkout_continue_btn_text"+$postfix;
$sidebarCheckoutContinueBtnText: $prefix+"checkout_continue_btn_text";
$sidebarCheckoutContinueBtnImgBlock: $prefix+"checkout_continue_btn_img"+$postfix;
$sidebarCheckoutContinueBtnImg: $prefix+"checkout_continue_btn_img";
$sidebarCheckoutBasketBlock: $prefix+"checkout_basket"+$postfix;
$sidebarCheckoutBasketBtnBlock: $prefix+"checkout_basket_btn"+$postfix;
$sidebarCheckoutBasketBtnTextBlock: $prefix+"checkout_basket_btn_text"+$postfix;
$sidebarCheckoutBasketBtnText: $prefix+"checkout_basket_btn_text";
$sidebarCheckoutBasketBtnImgBlock: $prefix+"checkout_basket_btn_img"+$postfix;
$sidebarCheckoutBasketBtnImg: $prefix+"checkout_basket_btn_img";

$afModalBlock: $prefix+"af"+$postfix;
$afModalTitleBlock: $prefix+"af_title"+$postfix;
$afModalTitleTextBlock: $prefix+"af_title_text"+$postfix;
$afModalTitleText: $prefix+"af_title_text";
$afModalBundlesBlock: $prefix+"af_bundles"+$postfix;
$afLeftBlock: $prefix+"af_left"+$postfix;
$afLeftBtnBlock: $prefix+"af_left_btn"+$postfix;
$afLeftBtnImgBlock: $prefix+"af_left_btn_img"+$postfix;
$afLeftBtnImg: $prefix+"af_left_btn_img";
$afProductListBlock: $prefix+"af_product-list"+$postfix;
$afRightBlock: $prefix+"af_right"+$postfix;
$afRightBtnBlock: $prefix+"af_right_btn"+$postfix;
$afRightBtnImgBlock: $prefix+"af_right_btn_img"+$postfix;
$afRightBtnImg: $prefix+"af_right_btn_img";