
//*--------------------------Product Card--------------------------*//

//Prouduct card canvas
%inc_product_card { 
  @include padding(10px, 15px, 13px, 15px);
  @include margin(5px, 5px, 5px, 5px);
  @include height_width(auto, auto);
  background: $white;
  border: 1px solid #ddd;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.05);
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.05);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  max-width: 242px;
  min-width: 242px;
  @include positioning(relative, null, null, null, null);
  //Ipad
  @include media_query("900", "max") {
    max-width: 220px;
    min-width: 220px;
  }

  //Mobile
  @include media_query("820", "max") { 
    @include padding(15px, 15px, 15px, 15px);
    max-width: 100%;
    min-width: 100%;
    @include margin(auto, auto, auto, auto);
    @include flexbox;
    @include flex-flow(inherit);
    box-shadow: none;
    border: none;
    box-sizing: border-box;
  }
  @include media_query("600", "max") { 
    @include padding(15px, 10px, 15px, 10px);

  }
}


//Gallery Dots
%inc_product_card_gallery_item_dots{
  @include margin(auto, 3px, auto, 3px);
  min-width: 8px;
  @include height_width(8px, 8px); 
  @include radius(50%,50%,50%,50%); 
  background: $white;
  border:1px solid $black;
  // border:none; 
  cursor: pointer;
}

//Gallery dots active
%inc_product_card_gallery_item_dots_active{
  background: $black; 
  border:1px solid $black;

}


/* Product Card Header { No content } */

//Product Featured Image wrap
%inc_product_image_wrap { 

  // @include padding(10px, 10px, 10px, 10px);
  @include margin(null, null, 5px, null);

  @include positioning(relative, null, null, null, null);

  //Mobile
  @include media_query("820", "max") {
    @include flex-basis(35%);
    @include padding(0, 10px, 0, 10px);
    @include margin(null, null, 0, null);
  }
  @include media_query("350", "max") {
    @include flex-basis(35%);

  }
}

//Product Image inner
%inc_product_image_inner {
  @extend %inc_row_center;
  @include height_width(230px, 170px);
  @include positioning(relative, null, null, null, null);
  margin: auto;
  @include media_query("820", "max") {
    @include height_width(235px, auto);
  }
}


//Product Image value
%inc_product_image {
  @include height_width(100%,100%);
  @include margin(auto, auto, auto, auto);
  @include positioning(absolute, 0, 0, 0, 0);
  max-width: 200px;
  object-fit: contain;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    // width: auto;
    height: auto;
    max-width: 160px;

  }
  @include media_query("820", "max") {
    max-width: 150px;
    @include height_width(100%, 100%);

  }


  //Mobile
  @include media_query("600", "max") {
    max-width: 100px;

  }
}


//Zoom icon Wrap
%inc_image_zoom {
  @include height_width(25px, 100%);
  @include positioning(absolute, auto, auto, 10px, 0);
  @include cursor(default);
  // @include display(none); 

}


//Zoom icon Icon
%inc_image_zoom_icon {
  @include height_width(30px, 30px);
  @include positioning(absolute, auto, auto, 15px, 0px);
  background:url(../images/inc_sprite.svg) -575px -108px/750px no-repeat;
  cursor: pointer;
  opacity: 0 ;
  visibility: hidden;
  @include media_query("820","max"){
    opacity: 1 !important;
    visibility: visible !important;
  }
}


//Color pallate wrp
%inc_image_color_pallate_wrap {
  @include height_width(25px, auto);
  @include radius(50px, 50px, 50px, 50px);
  @include positioning(absolute, auto, 10px, null, auto);
  background: $backface_color_1;
  @include padding(0, 7px, 0, 7px);
}


//Coloe Pallate Item Wrap
%inc_image_color_pallate_item_wrap {
  @extend %inc_row;
  @include height_width(25px, 100%);
  @include align-items(center);
  @include margin(null, 5px, null, null);
}


//Coloe Pallate Item
%inc_image_color_pallate_item {
  @include height_width(15px, 15px);
  @include radius(50%, 50%, 50%, 50%);
  border: 2px solid #fff;
  @include box-shadow(0px, 1px, 3px, rgba(0, 0, 0, 0.1), false);
  background-size: 100%;
  @include display(none); 
  overflow: hidden;
}

//Product Information

//Product Description
%inc_product_des_wrap {
  //Mobile
  @include media_query("820", "max") {
    @include flex-basis(65%);
    @include padding(0, 0px, 0, 0px);
  }
  @include media_query("350", "max") {
    @include flex-basis(65%);
  }
}

//Product Title Wrap
%inc_product_title_wrap {
  @include margin(null, null, 5px, null);
}

//Product Title
%inc_product_title_text {
  @include font-weight(700);
  color: $black;
  @include text-transform(capitalize);
  @include text-decoration(none);
  min-height: 48px;
  max-height: 48px;
  @include overflow(hidden);
  @include display(block);
  text-align: center;
  font-family: $font_family;
  font-size: 18px;
  line-height: 24px;
  //Mobile
  @include media_query("820", "max") {
    text-align: left;
  }
}


//Product Price wrap
%inc_product_price_wrap {
  @extend %inc_row;
  @include margin(null, null,10px, null);
  @include align-items(center);
  position: relative;
   //Mobile
   @include media_query("820", "max") {
    min-height: 30px;
    @include margin(null, null,10px, null);

  }
}

//Active price Wrap
/*  %inc_active_price_wrap {

    }*/

//Active price text  -
%inc_active_price_text {
  @extend %inc_content_sm;
  color: $text_color_1 ;
  @include font-weight(700);
  @include rhythm(18, 22);
  @include margin(null, 10px, null, null);
  font-family: $font_family;

  @include media_query("820","max"){
    font-size: 17px;
  }
  @include media_query("350","max"){
    font-size: 14px;

  }
}
 
//Regular Price wrap - Old Price
%inc_regular_price_wrap { 
  @include margin(null, null, null, 0);
  @include media_query("820","max"){
    @include margin(null, 10px, null, 0);
  }
}


//Regular Price text - Old Price 
%inc_regular_price_text {
  @extend %inc_content_sm; 
  color: #343434;
  @include rhythm(14, 22);
  @include positioning(relative, null, null, null, null);
  font-family: "SamsungOne",arial;
  // font-weight: 700;
  //Pesdo After
  &:after {
    content: "";
    @include height_width(1px, auto);
    @include positioning(absolute, 0, 0, 0, 0);
    @include margin(auto, auto, auto, auto);
    background: $text_color_1;
    @include display(block);
  }
}


//Product Attributes
%inc_product_attributes {
  @extend %inc_row_center;
  border-radius: 21px;
  background: #f2f2f2;
  @include height_width(40px, 100%); 
  // @include margin(null, null, 10px, null);
  // @include cursor(pointer);
  box-sizing: border-box;
  @include transition(0.2s);
  @include positioning(relative, null, null, null, null);
  cursor: pointer;
  
  //Mobile
  @include media_query("820", "max") {
    max-width: 100%;
    padding-left: 10px;
    @include margin(null, null, 10px, null);
  }
  
  

  //Hover 
  &:hover {
    background: $canvas;
    @include transition(0.2s);
  }
}


// Product Attribute Edit

%inc_product_edit{
  @include positioning(absolute, 0, 0, 0,auto);
  @include margin(auto,auto,auto,0);
  @include height_width(40px, 67px);
  @extend %inc_row_center;
  background:transparent;
  color:#1428A0; 
  @include font-weight(400);
  @include rhythm(14, 22);
  font-family: $font_family;
  text-transform: uppercase;
  border-radius: 0px 21px 21px 0px;
  border-left: 1px solid #E2E0E0;
}




//Product Attribute Titles Global
%inc_product_attributes_titles_blobal {
  @include margin(null, null, 10px, null);
  @include padding(null, null, 10px, null);
  @include border("bottom", 1px, solid, $border_color_1);
}
 

//Product Attribute color 
%inc_product_attributes_color,
%inc_product_attributes_size {
  @extend %inc_content_sm;
  color: $black;
  @include font-weight(400); 
  // @include text-transform(capitalize);
  font-family: $font_family;

}

//shortn value
%inc_shortn_value{
  text-overflow: ellipsis;
  white-space: nowrap;
  @include overflow(hidden); 
  max-width: 110px; 
  @include media_query("480", "max") {
    max-width: 80px; 
  }
}

//Product Attribute Size

//Product Quantity 