
//*--------------------------Price Summary--------------------------*//

%inc_price_summary {
  @include height_width(472px, 100%);
  @extend %inc_product_card;
  @include padding(0, 0, 0, 0);
  // @include margin(34px,null,null,null); 
  min-width: 263px;
  max-width: 263px;
  margin-right: 0px;
  @include media_query("1337", "max") {
    min-width: auto;

  }
  @include media_query("900", "max") {
    max-width: 230px;
  }
  //Mobile
  @include media_query("820", "max") {
    @include height_width(auto, 100%);
    @include positioning(sticky, auto, 0, 0, 0);
    // @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0.1), false);
    @include margin(auto, auto, auto, auto);
    // @include box-shadow(1px, 5px, 40px, rgba(0, 0, 0, 0.1), false);
    background: $white;
    min-width: 100%;
    @include radius(0, 0, 0, 0);
    z-index: 49;
    transition-duration: 0.6s;
    transform: translateY(0);  
    @include overflow(hidden);
    transition-duration: 0.3s;
  }
@media screen and (max-width: 820px)  and (orientation: landscape) {
position: relative;
}
}


//Active Price Summary
%inc_price_summary_active {
  //Mobile
  @include media_query("820", "max") {
    z-index: 9;
    transition-duration: 0.6s;
    transform: translateY(0);
    @include positioning(fixed, auto, 0, 0, 0);
    transition-duration: 0.3s;
    z-index: 9999999999;
  }
}


//Price Summary Tile 
%inc_price_summary_tilte { 
  @extend %inc_heading_sm;
  @include border("bottom", 1px, solid, $border_color_1);
  @include padding(10px, 15px, 10px, 50px);
  @include text-align(center);
  @include font-weight(700); 
  color: $text_color_1;  
  font-family: $font_family_2;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  //Mobile
  &::before{
    content: '';
    background: transparent url(../images/inc_sprite.svg) -63px -4px/500px no-repeat ;    
    @include height_width(30px,30px);
    @include positioning(absolute,5px,auto,auto,65px);
    @include media_query("900","max"){
      left: 45px;
    }
    @include media_query("820","max"){
      display: none;
    }
  }
  @include media_query("820", "max") {
    @include margin(null,null,0,null); 
    @include padding(10px, 15px, 10px, 15px);
    text-align: left;
  }   
} 



//Price Summary Added Items  wrap
%inc_added_product_scroll {
  @include height_width(270px, 100%);
  @include overflow(auto);
  // @include border("bottom", 1px, solid, $border_color_1);

 //Mobile
  @include media_query("820", "max") {
    @include height_width(0, 100%);
   @include overflow(hidden);
    transform: scaleY(0); 
    transition-duration: 0.4s;
    z-index: 999;
  }
}




//Price Summary Added Items  wrap


//Price Summary Added Items  Item
%inc_added_product_item {
  @include border("bottom", 1px, solid, $border_color_1);
  @include padding(10px, 10px, 10px, 60px);
  @extend %inc_row;
  @include align-items(center);
  @include flex-flow(wrap);
  @include positioning(relative null, null, null, null);
}


//Price Summary Added Items  Image Wrap
%inc_added_product_item_image_wrap {
  @include height_width(42px, 42px);
  @include overflow(hidden);
  @include flex-basis(15%);
  @include positioning(absolute, 0, auto, 0, 5px);
  @include margin(auto, auto, auto, auto);
 
}


//Price Summary Added Items  Image item
%inc_added_product_item_image_item {
  @include height_width(100%, 100%);
  object-fit: contain;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    // width: auto;
    height: auto;
  }
}


//Price Summary Added Items  title wrap
%inc_added_product_item_title_wrap {
  @include flex-basis(100%);
  @include height_width(20px, auto);
  @include overflow(hidden);
  @include font-weight(600);

}

//Added Product Attribute
%inc_added_product_attribute{
  max-width: 130px; 
  white-space: nowrap; 
  text-overflow: ellipsis;
  text-transform: uppercase;
  @include overflow(hidden); 
  @include cursor(default); 
  font-size: 12px;
  
}

//Placeholder Product
%inc_placeholder_product { 
  //disabled
  @include display(none); 

  @include padding(15px, 15px, 15px, 15px);
  @include text-align(center);
  @include positioning(relative, null, null, null, null);
  color: rgba(0, 0, 0, 0.6);
  max-width: 178px; 

  
  @include margin(null,auto,null,auto);
  &:before{
    content:'';
    background: url(../images/inc_cart_icon.svg) no-repeat center center/auto;
    @include height_width(17px,21px);   
    @include display(block);
    @include positioning(absolute, null, null, null, null);


  }
}


// Price checkout wrap
%inc_price_checkout_wrap {
  @include positioning(absolute, auto, 0, 0, 0);
  @include margin(auto, auto, auto, auto);
  @include height_width(auto, 100%);

  //Mobile
  @include media_query("820", "max") {
    @include positioning(sticky, auto, 0, 0, 0);
    position: -webkit-sticky;
    @include flexbox();
    @include flex-flow(wrap);
    @include justify-content(center);
    @include padding(10px, null, 10px, null);
    background: $white;
    border: 1px solid $border_color_1;
  }
}


// Cart Summary View Block
%inc_cart_summary_view_block {
  @include display(none);

  //Mobile
  @include media_query("820", "max") {
    @include flex-basis(35%);
    @include display(block);
    @include padding(0,5px, 0, 15px);
    box-sizing: border-box;
  }
  @include media_query("420", "max") {
    @include padding(0,5px, 0, 10px);

  }
}
//View Count
%inc_view_count{
  @include height_width(25px, 25px);
  @include margin(null,null,null,5px); 
  background: $white; 
  color:$black;
  border-left: 1px solid #cacaca;
  @include rhythm(16, 25);
  padding-left: 5px;
}
 

// Price checkout Label Wrap
%inc_price_checkout_label_wrap {
  @include margin(null, null, 15px, null);
  @include padding(15px, 15px, 0, 15px);

  //Mobile
  @include media_query("820", "max") {
    @include flex-basis(44%);
    border: none;
    box-sizing: border-box;
    @include justify-content(flex-start);
    @include padding(0, 15px, 0, 15px);
    @include margin(null, null, 10px, null);

  }
  @include media_query("600", "max") {
    @include padding(0, 10px, 0, 15px);
  
  }
  @include media_query("375", "max") {
    @include flex-basis(36%);
    @include padding(0, 0px, 0, 10px);
  }
}
