
//*--------------------------Cart--------------------------*//

//Outer Modal
%inc_af_container_outer { 
    max-width: 1260px;
    @include margin(0, auto, 0, auto);
    @include positioning(relative, null, null, null, null);
  }
  
  
  //Af List row
  %inc_list_products_row_only { 
    max-width: 1170px;   
    @extend %inc_bundle_block;
    @include margin(0, auto, 0, auto);
    @include overflow(hidden); 
    @include justify-content(flex-start);
  
  
    //Mobile
    @include media_query("1337", "max") {
      @include flex-flow(row);
      @include overflow(auto);
      max-width:90%;
    }    
    @include media_query("820", "max") {
      max-width:100%;
    }
  }
  
  
  
  //Af Product Card
  %inc_af_product_card {
    @extend %inc_product_card; 
    max-width: 100%;
    min-width: 100%;  
    @include flexbox;
    @include align-items(center);
    box-sizing: border-box;
    @include padding(10px,10px,10px,10px);
    //Mobile
    @include media_query("820", "max") {
      @include margin(null, 0px, 10px, 0px);
      @include flex-flow(row);
      border: 1px solid #dddddd;
    }
    @include media_query("420", "max") {
      max-width: 98%;
      min-width: 98%; 
      @include margin(null, auto, 10px, auto);

    }
    @include media_query("350", "max") {
        
    }
  }
  
  
  //Af product Image  
  
  
  //Product Featured Image
  %inc_af_product_card_image_wrap {
    @extend %inc_product_image_wrap;
    @include margin(0, 0, 0, 0);
   
  }
  
  
  //Product Featured Des
  %inc_af_product_card_des_wrap {
    @extend %inc_product_des_wrap;

    
  }
  


.inc_af_block .modal_btn {
    display: none !important;
}

.inc_af_block .modal_btn:first-child {
    display: block !important;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    float: unset !important;
    bottom: auto;
}