
//*--------------------------Selection Modal Global--------------------------*//

//Selection Modal Product Card in two columns
%inc_product_card_two_cols {
  @extend %inc_row;
  @include flex-flow(wrap);
  max-width: 100%;
  @include padding(0, 0, 0, 0);
  border:none;


}


//Selection Modal Header
%inc_selection_modal_header {
  @extend %inc_row_center;
  @include border(bottom, 1px, solid, $border_color_1);
  @include margin(null, null, 5px, null);
  @include flex-basis(100%);
  @include positioning(relative, null, null, null, null);
  @include height_width(50px, 100%);
  @include border-sizing(border-box);
  @media screen and (max-width: 1500px) and (max-height: 768px) {
    @include height_width(40px, 100%);
  }
  @include media_query("820", "max") {
    @include height_width(50px, 100%);
    @include margin(null, null, 10px, null);
    @include positioning(sticky,0,0,auto,0);
    background: $white;
    z-index: 2;
  }
}


//Selection Modal Header Title
%inc_selection_modal_header_title {
  @extend %inc_heading_md;
  @include margin(auto, auto, auto, auto);
  // display: none;
  font-family: $font_family_3;
}


//Selection Modal Title

//Selection Modal Image Wrapper
%inc_product_card_two_cols_img {
  @include height_width(auto, 100%);
  @include padding(15px, 15px, 15px, 15px);
  @include margin(0, 0, 10px, 0);
  border: none;
  @include flex-basis(40%);
  @include border-sizing(border-box);

  //Mobile
  @include media_query("820", "max") {
    @include flex-basis(100%);
    @include margin(0, 0, 0, 0);
    @include padding(10px, 15px, 10px, 15px);

  }
}


//Selection Modal Description Wrapper

//Selection Modal Description wrap
%inc_product_card_two_cols_des {
  @include flex-basis(60%);
  @include margin(0, 0, 10px, 0);
  @include height_width(auto, 50%);
  @include padding(15px, 25px, 15px, 1px);
  @include border-sizing(border-box);
  @include media_query("1590", "max") {
    @include padding(5px, 25px, 10px, 1px);
    margin-bottom: 18px;
  }

  @media screen and (max-width: 1460px) and (max-height: 650px) {
    @include margin(0, 0, 0px, 0);
  }
 
 
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @include padding(15px, 15px, 15px, 15px);
  }
  @media screen and (max-width: 1500px) and (max-height: 768px) {
    @include padding(0px, 25px, 0px, 1px);
  }
  @include media_query("820", "max") {
    @include flex-basis(100%);
    @include padding(5px, 15px, 40px, 15px);
    @include margin(0, 0, 10px, 0);
  }
}


//Selection Modal image wrap
%inc_product_card_two_cols_img_inner {
  @include height_width(470px, 100%);
  // @include border-default();
  @include margin(null, null, 10px, null);

  @media screen and (max-width: 1500px) and (max-height: 768px) {
    @include height_width(410px, 100%);
  }
  //Mobile
  @include media_query("820", "max") { 
    @include height_width(250px, 100%);
    @include margin(null, null, 15px, null);
    border: none;
  }
}

//Selection Modal image wrap Item value
%inc_product_card_two_cols_product_img {
  max-width: 270px;
  object-fit: contain;
  @include media_query("1025", "max") {
    max-width: 190px;

  }
  //Mobile
  @include media_query("820", "max") {
    max-width: 250px;
  }
}


//Selection Modal image gallery
%inc_product_card_gallery_wrap {
  @extend %inc_row_center;
  max-width: 355px;
  @include justify-content(center);
  overflow: auto;
  @include scrollbars(5px,5px,5px,#dddddd,null);
  @include media_query("1590", "max") {
    max-width: 362px;
  }
  //Mobile XS
  @include media_query("1060", "max") {
    max-width: 300px;
  }
  @include media_query("920", "max") {
    max-width: 240px;
  }
  @include media_query("480", "max") {
  
    @include justify-content(center); 
    @include flex-flow(nowrap);
    @include margin(null,auto,null,auto); 
  }
}


//Selection Modal Image Items
%inc_product_card_gallery_item {
  @include height_width(60px, 60px);
  min-width: 60px;
  @include border-default();
  border-color: #e0e0e0;
  // background: $backface_color_1;
  @include margin(5px, 5px, 5px, 5px);
  @include positioning(relative, null, null, null, null);
  //First Child
  &:first-child {
    @include margin(null, null, null, 0);
  }
  @include media_query("1590","max"){
    @include height_width(50px, 50px);
    min-width: 50px;
  }
  @include media_query("820","max"){
    @include height_width(8px, 8px);
    min-width: 8px;
    border-radius: 10px;
    background: transparent;
    @include margin(2px, 2px, 2px, 2px);
    
  }
}


//Selection Modal Image Items Value
%inc_product_card_gallery_item_img {
  @include height_width(100%, 100%);
  @include positioning(absolute, 0, 0, 0, 0);
  @include margin(auto, auto, auto, auto);
  @include cursor(pointer);
  // background: $white;
  box-sizing: border-box;
  @include padding(2px,2px,2px,2px); 
  object-fit: contain;
  @include media_query("820","max"){
    display: none;
  }
}


// Selection Modal Attributes
%inc_product_attributes_modal {
  border: none;
  box-shadow: none;
  background: none;
  @include display(block);
  @include height_width(auto, 100%);
  @include margin(null, null ,20px, null);
  max-width: 100%; 
  cursor: default;
  position: unset;
  padding-left: 0px;
  @include media_query("1590","max"){
     @include margin(null, null ,10px, null);
  }
  @media screen and (max-width: 1500px) and (max-height: 768px) {
    @include margin(null, null ,0px, null);
  }
  @include media_query("820","max"){
    @include margin(null, null ,10px, null);
  }
  &:hover {
    background: none;
  }
}



//Selection Modal Colors Wrap { //No Property}
%inc_color_list{
  @extend %inc_row;
  @include flex-wrap(wrap);
  @include margin(null,null,20px,null);
  height: auto;
  // max-height: 105px;
  // overflow: auto;
   //Mobile
   @include media_query("820", "max") {
    @include margin(null,null,0,null);
    height: auto;

   
  }

}
 
//Selection Modal Colors/Size Items
%inc_product_attributes_items_wrap {
  @include height_width(25px, 25px);
  min-width: 25px;
  border-radius: 30px;
  @include cursor(pointer);
  @include margin(0, 5px, 10px, 0);
  @include positioning(relative, null, null, null, null);
  @include transition(0.2s);
  border: 1px solid transparent;
  padding: 4px;
  box-sizing: content-box;
  @include media_query("1590", "max") {
    padding: 3px;
  }
}


//Selection Modal Colors/Size Items Value
%inc_product_attributes_items {
  @include height_width(25px, 25px);
  // @include positioning(absolute, 0, 0, 0, 0);
  // @include margin(auto, auto, auto, auto);
  @include transition(0.2s);
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #7a7a7a;
  box-sizing: border-box;
}



//Selection Modal Size Wrap { //No Property}


//Selection Modal Size Items
%inc_product_attributes_items_size_wrap {
  @extend %inc_product_attributes_items_wrap;
  @include height_width(25px, auto);
  min-width: 25px;
  max-width: 80px;
  @extend %inc_row_center;
  background: $white;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 0 .25em;
  line-height: 1.75em;
}

// Selection Modal QTY wrap
%inc_product_qty_wrap { 
  @include height_width(40px, 140px);
  @include positioning(relative, null, null, null, null);
  @include flexbox();
  @include margin(null, 20px, null, null); 
  @include flex-basis(auto);
  //Mobile
  @include media_query("820", "max") {
    max-width: 160px;
    @include margin(null, 20px, null, null); 
  }
}


//Selection Modal QTY icon Global
%inc_product_qty_icon {
  @include height_width(100%, 100%);
  @include positioning(absolute, 0, 0, 0, 0);
  @include margin(auto, auto, auto, auto);
  @include transition(0.2s);
  @include cursor(pointer);

  //hover
  &:hover {
   
  }
}
 

// Selection Modal QTY Minus  wrap
%inc_product_qty_minus_wrap {
  @include height_width(40px, 40px);
  background:  #EEEEEE;
  @include positioning(relative, null, null, null, null);
  margin-right: 5px;
  border-radius: 2px;
  border: 1px solid #dddddd;

}


// Selection Modal QTY Minus   icon
%inc_product_qty_minus_icon {
  @extend %inc_product_qty_icon;
  background: url(../images/inc_sprite.svg) -156px 9px/300px no-repeat;
  @include media_query("820","max"){
  }
}


// Selection Modal QTY plus Wrap
%inc_product_qty_plus_wrap {
  @include height_width(40px, 40px);
  background:  #EEEEEE;
  @include positioning(relative, null, null, null, null);
  border-radius: 2px;
  border: 1px solid #dddddd;
}


// Selection Modal QTY plus  icon
%inc_product_qty_plus_icon {
  background:  url(../images/inc_sprite.svg) -123px 9px/300px no-repeat;
  @extend %inc_product_qty_icon;

  @include media_query("820","max"){
  }
}


// Selection Modal QTY input Wrap
%inc_product_qty_input_wrap {
  margin-right: 5px;
  border: 1px solid #e0e0e0;
  @include height_width(40px, 40px);
  border-radius: 2px;

  @include positioning(relative, null, null, null, null);
}


// Selection Modal QTY input
%inc_product_qty_input {
  border: none;
  @include height_width(100%, 100%);
  @include positioning(absolute, 0, 0, 0, 0);
  @include margin(auto, auto, auto, auto);
  @include padding(0, 5px, 0, 5px);
  @include box-sizing(border-box);
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  font-size: 16px;
  @include text-align(center);
  background:  transparent;
}


//Fixed Button Set Wrap
%inc_fixed_button_set{
  @extend %inc_row;
  @include media_query("820", "max") {
    @include positioning(fixed, auto, 0, 0, 0);
    @include margin(auto,auto,auto,auto);
    @include padding(10px,10px,10px,10px);
    box-sizing: border-box;
    background: $white;
    @include height_width(auto, 100%);
    box-shadow:0 0 20px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
    transition-duration: 0.6s;
  }
}

//Long Description


%inc_modal_long_des{
  @include positioning(absolute, 50px, auto, 0, 0);
  @include padding(50px,20px,20px,20px);
  max-width: 410px;
  @include height_width(null ,100%);
  height: calc(100% - 50px);
  transform: translateX(-100%);  
  background: $white; 
  transition-duration: 0.3s;
  z-index: 10;  
  border-right: 1px solid #dddddd;


  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    max-width: 390px;
  }
  @media screen and (max-width: 1500px) and (max-height: 768px) {
    top: 40px;
    height: calc(100% - 40px);
  }
  @media screen and (max-width: 1460px) and (max-height: 650px) {
    max-width: 380px;
  }
  
  @include media_query("1060", "max") {
    max-width: 38%;
  }
  @include media_query("920", "max") {
    max-width: 300px;
  }
  @include media_query("820", "max") {
    @include positioning(fixed, auto, null, 0, null);
    @include height_width(400px, 100%);
    transform: translateY(100%);  
    max-width: 100%;
  }

  @media screen and (max-width: 820px)  and (orientation: landscape) {
    @include height_width(100%, 100%);
  }
  %inc_modal_long_des_text{
    @include overflow(auto);
    @include positioning(absolute, 50px, auto, 0, 0);
    @include padding(15px,15px,15px,15px); 
    @include height_width(90%, 100%);
    font-size: 16px;
    color: #363636;
    font-family: $font_family_2;
    line-height: 1.78;
    box-sizing: border-box;
    background: $white;
    @include scrollbars(3px,3px,3px,#dddddd, null);
    scrollbar-width: thin;
    // word-break: break-all;
    @include media_query("820", "max") {
      @include height_width(335px, 100%);
      @include overflow(auto);  
      text-align: center;
    }
    @media screen and (max-width: 820px)  and (orientation: landscape) {
      @include height_width(85%, 100%);
    }
  }
  &:before{ 
      content: 'Description';
      font-size: 20px;
      @include positioning(absolute, 0, null, auto, 0);
      border-bottom: 1px solid #dddddd;
      @include height_width(auto, 100%);
      @include padding(10px,15px,10px,15px);
      padding-left: 20px;
      background:$white;
      box-sizing: border-box;
      font-family: $font_family;
      @include scrollbars(3px,3px,5px,#dddddd,null);

      @include media_query("820","max"){
        border-top: 1px solid #dddddd;
        background: $canvas;
       
      }
}
  
.product-summary__card .card__content-area .card__icon-title .card__icon-title{
  white-space: nowrap;
  word-break: keep-all;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  display: block;
}
.product-summary__card .card__content-area .card__icon-title .card__icon-title[title^='B2(1900),B4(AWS),B5(850),B12(700),B13(700),B25(1900),B26(850),B66(AWS-3)']{
  // white-space: unset;
  // word-break: unset;
}
.product-summary__container{
  .product-summary__row{
    width: 100% !important;
    .product-summary__card{
      border-left: 0px;
    }
  }
}
.hubble-pd-expand__opener-name{
  cursor: default;
}
.hubble-usp__item-wrapper{
  &::after{
    display: none;
  }
}
.hubble-pd-expand{
  padding: 0px;
  .hubble-pd-expand__opener{
    border-top: 0px ;
    padding: 0px;
  }
  .hubble-pd-expand__opener-icon{
    display: none;
  }
  .hubble-usp__item-wrap{
    &:after{
      display: none;
    }
    .hubble-usp__item{
      width: 100% !important;
      padding: 0px !important;
      display: block !important;
    }
  }
  .hubble-usp__more-wrap{
    display: none !important;
  }
}


} 
   
%inc_modal_long_des_active {
  transform: translateX(0%);  
  transition-duration: 0.3s;
  box-sizing: border-box;
  @include media_query("820","max"){
    transform: translateY(0);  
    @include positioning(fixed, auto, null, 0, null);
    max-width: 100%;
  }
}


//Shade Description
%inc_shade_des{ 

    @include positioning(absolute, null, 0, 0, 0);
    @include text-align(center);
    background: $white;
    @include height_width(auto, 100%);
    @include margin(auto,auto,auto,auto); 
    z-index: 9;
  @include padding(10px,10px,10px,10px);  
  

}

%config_title{
  font-family: $font_family_2;
  color: $black;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.32;
}

%config_item_block{
    position: relative;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #636363;
    box-sizing: border-box;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 20px 15px;
    min-width:fit-content ;
    max-width: fit-content;
    box-sizing: border-box;
    font-size: 12px;
    cursor: pointer;
    max-height: 30px;
    min-height: 30px;
    @include flexbox();
    @include align-items(center);
    &:first-child{
      margin-left: 0px;
    }
    &:last-child{
      margin-right: 0px;
    }
    &.active{
      -webkit-box-shadow: inset 0px 0px 0px 1px $primary_color;
      box-shadow: inset 0px 0px 0px 1px $primary_color;
      border: 1px solid $primary_color;
      color: $black;
    }
}

